$react-dates-width-day-picker: 300px;

.CalendarMonthGrid {
  background: #fff;
  z-index: 0;
}

.CalendarMonthGrid--animating {
  transition: transform 0.2s ease-in-out;
  z-index: 1;
}

.CalendarMonthGrid--horizontal {
  position: absolute;
  left: 9px;
  width: 4 * $react-dates-width-day-picker;
}

.CalendarMonthGrid--vertical {
  width: $react-dates-width-day-picker;
  margin: 0 auto;
}
