.CalendarDay {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
}

.CalendarDay__day {
  display: table-cell;
  vertical-align: middle;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
