.DateInput {
  // font
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  color: $react-dates-color-placeholder-text;
  margin: 0;
  padding: 8px;

  background: $react-dates-color-white;
  position: relative;
  display: inline-block;
  width: $react-dates-width-input;
  vertical-align: middle;
}

.DateInput--focused::before,
.DateInput--focused::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: $react-dates-spacing-vertical-picker - $react-dates-width-tooltip-arrow / 2;
  bottom: auto;
  border: $react-dates-width-tooltip-arrow / 2 solid transparent;
  border-top: 0;
  z-index: 2;
}

.DateInput--focused::before {
  left: 22px;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.DateInput--focused::after {
  left: 23px;
  border-bottom-color: $react-dates-color-white;
}

.DateInput--disabled {
  background: $react-dates-color-gray-lighter;
}

.DateInput__label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.DateInput__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

.DateInput__display-text {
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
}

.DateInput__display-text--has-input {
  color: $react-dates-color-text;
}

.DateInput__display-text--focused {
  background: $react-dates-color-focus;
  border-color: $react-dates-color-focus;
  border-radius: 3px;
  color: $react-dates-color-text-focus;
}

.DateInput__display-text--disabled {
  font-style: italic;
}
