@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima.ttf');
}

.DateRangePicker__picker {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.CalendarDay {
  border: none;
}

.CalendarDay--selected-span {
  &.CalendarDay--hovered,
  &:active {
    border: none;
  }
}

.DayPicker__focus-region {
  width: 570px;
}

.PresetContainer {
  width: 140px;
}

.ButtonBar {
  display: flex;
  flex-direction: row;

  input {
    display: block;
  }

  .DateField {
    margin-left: 30px;
  }
}

.PresetItem {
  padding-left: 20px;
  line-height: 32px;

  &:hover {
    background-color: #f5f5f5;
  }
}

.DayPicker {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.CalendarMonth__caption {
  font-size: 14px;
}

.DateRangePicker {
  font-family: 'Proxima Nova';
  font-size: 13px;
  font-weight: 400;
  color: #1e1e1e;
}
