@import 'variables';

.MonthPicker {
  background: $react-dates-color-white;
  position: relative;
  text-align: left;
}

.MonthPicker--horizontal {
  background: $react-dates-color-white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.07);
  border-radius: 3px;

  &.MonthPicker--portal {
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.MonthPicker--vertical.MonthPicker--portal {
  position: initial;
}

// we can revisit this styling during the a11y picker
.MonthPicker__focus-region {
  outline: none;
}

.MonthPicker--vertical-scrollable {
  height: 100%;

  .transition-container--vertical {
    padding-top: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: scroll;
  }
}
