@import 'variables';

.SingleDatePicker {
  position: relative;
  display: inline-block;
}

.SingleDatePicker__picker {
  z-index: $react-dates-z-index + 1;
  background-color: $react-dates-color-white;
  position: absolute;
}

.SingleDatePicker__picker--rtl {
  direction: rtl;
}

.SingleDatePicker__picker--direction-left {
  left: 0;
}

.SingleDatePicker__picker--direction-right {
  right: 0;
}

.SingleDatePicker__picker--open-down {
  top: $react-dates-spacing-vertical-picker;
}

.SingleDatePicker__picker--open-up {
  bottom: $react-dates-spacing-vertical-picker;
}

.SingleDatePicker__picker--portal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.SingleDatePicker__picker--full-screen-portal {
  background-color: $react-dates-color-white;
}

.SingleDatePicker__close {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  z-index: $react-dates-z-index + 2;

  svg {
    height: 15px;
    width: 15px;
    fill: $react-dates-color-gray-lighter;
  }

  &:hover,
  &:focus {
    color: darken(#cacccd, 10%);
    text-decoration: none;
  }
}
