$react-dates-width-input: 130px !default;
$react-dates-width-arrow: 24px !default;
$react-dates-width-tooltip-arrow: 20px !default;
$react-dates-spacing-vertical-picker: 72px !default;

$react-dates-color-primary: #00a699 !default;
$react-dates-color-primary-dark: #008489 !default;
$react-dates-color-primary-shade-1: #33dacd !default;
$react-dates-color-primary-shade-2: #66e2da !default;
$react-dates-color-primary-shade-3: #80e8e0 !default;
$react-dates-color-primary-shade-4: #b2f1ec !default;
$react-dates-color-secondary: #007a87 !default;
$react-dates-color-white: #fff !default;
$react-dates-color-gray: #565a5c !default;
$react-dates-color-gray-dark: darken($react-dates-color-gray, 10.5%) !default;
$react-dates-color-gray-light: lighten($react-dates-color-gray, 17.8%) !default;   // #82888a
$react-dates-color-gray-lighter: lighten($react-dates-color-gray, 45%) !default;     // #cacccd
$react-dates-color-gray-lightest: lighten($react-dates-color-gray, 60%) !default;
$react-dates-color-highlighted: #ffe8bc !default;

$react-dates-color-border: #dbdbdb !default;
$react-dates-color-border-light: #dce0e0 !default;
$react-dates-color-border-medium: #c4c4c4 !default;
$react-dates-color-placeholder-text: #757575 !default;
$react-dates-color-text: #484848 !default;
$react-dates-color-text-focus: #007a87 !default;
$react-dates-color-focus: #99ede6 !default;

$react-dates-z-index: 0 !default;

$react-dates-input-font-size: 18px !default;
$react-dates-input-line-height: 24px !default;
$react-dates-input-padding: 8px !default;
$react-dates-input-displaytext-padding-horizontal: 8px !default;
$react-dates-input-displaytext-padding-vertical: 4px !default;
