$input-width: 130px;

$color-babu: #00a699;
$color-babu-dark: #00514a;
$color-white: #fff;

$border-color: #dbdbdb;
$placeholder-color: #757575;
$text-color: #484848;
$focus-color: #99ede6;
$focus-text-color: #007a87;

$border-light: #dce0e0;
$border-medium: #c4c4c4;
$day-picker-width: 300px;

$chevron-border: 24px;

$color-dark: #565a5c;
$color-dark-gray: darken($color-dark, 10.5%);
$color-gray: lighten($color-dark, 17.8%);   // #82888a
$color-light-gray: lighten($color-dark, 45%);     // #cacccd

$color-light: $color-gray;
$border-light: #dce0e0;
$color-white: #fff;

$babu-shade-2: #33dacd;
$babu-shade-4: #66e2da;
$babu-shade-5: #80e8e0;
$babu-shade-7: #b2f1ec;
$color-kazan: #007a87;
