{
  "globals": {
    "describe": true,
    "context": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true
  },
  "extends": "airbnb",
  "rules": {
    "indent": [2, 2, {
		"MemberExpression": "off"
	}],
  }
}
