{
  "env": {
    "test": {
      "presets": ["airbnb"],
      "plugins": [
        "inline-react-svg",
        ["transform-replace-object-assign", "object.assign"],
        "istanbul"
      ]
    },
    "development": {
      "presets": ["airbnb"],
      "plugins": [
        "inline-react-svg",
        ["transform-replace-object-assign", "object.assign"],
      ],
    },
    "production": {
      "presets": ["airbnb"],
      "plugins": [
        "inline-react-svg",
        ["transform-replace-object-assign", "object.assign"],
      ],
    },
    "cjs": {
      "presets": ["airbnb"],
      "plugins": [
        "inline-react-svg",
        ["transform-replace-object-assign", "object.assign"],
      ],
    },
    "esm": {
      "presets": [["airbnb", { modules: false }]],
      "plugins": [
        "inline-react-svg",
        ["transform-replace-object-assign", "object.assign"],
      ],
    },
  },
}
