{
  "extends": "airbnb",

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "no-mixed-operators": [2, { "allowSamePrecedence": true }],
    "react/no-find-dom-node": 1,
    "react/no-string-refs": 1,
    "react/no-unused-prop-types": 1, // TODO: enable
    "jsx-a11y/no-static-element-interactions": 1, // TODO: enable
    "no-plusplus": 1, // TODO: enable
  }
}
