{
  "extends": "airbnb",

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "no-mixed-operators": [2, { "allowSamePrecedence": true }],
    "react/no-find-dom-node": 1,
    "react/no-string-refs": 1
  }
}