{
  "extension": [
    ".js",
    ".jsx"
  ],
  "include": [
    "src"
  ],
  "require": [
    "@babel/register"
  ],
  "reporter": [
    "text",
    "html",
    "lcov"
  ],
  "all": true,
  "sourceMap": false,
  "instrument": false
}
